.search_container {
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--secondary-bg);
    box-shadow: 0px 4px 12px var(--shadow-color);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

.search_container:hover {
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

.search_input {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid var(--text-secondary);
    transition: border-color 0.3s;
}

.search_input:focus {
    border-color: var(--accent-color);
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error_message {
    font-size: 0.9rem;
    color: var(--error-color);
    text-align: center;
    margin-top: 5px;
}

.select__menu-list {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) transparent;
}

.select__menu-list::-webkit-scrollbar {
    width: 6px;
}

.select__menu-list::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 10px;
}


@media (max-width: 768px) {
    .search_container {
        padding: 10px;
    }
}